@import "https://www.nerdfonts.com/assets/css/webfont.css";

:root {
  --standard-size: 20px;
  --border-radius: 10px;
  --mobile-menu-height: 55px;
  --standard-bg: #242323;
}

body {
  margin: 0;
  margin-top: var(--standard-size);
  background:#1f1f1f;
  font-family: "Anonymous Pro";
  color:#dddbd4;
  font-size: 14pt;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#main {
  display: flex;
  max-width: 1200px;
}

#content {
  border: 2px solid #FFB347;
  border-radius: var(--border-radius);
  padding: 16px;
}

footer {
  text-align: center;
  max-width: 725px;
  margin: 32px;
}

p {
  margin: 16px 5%;
}

h1, h2 {
  color: #FFB347;
  margin: 0;
}

.intro {
  text-align: center;
  border-bottom: 4px solid #FFB347;
  font-size: 115%;
}

/* navigation */
nav {
  display: flex;
  flex-direction: column;
}

nav > a {
  padding: 8px;
  margin: 8px;

  text-decoration: none;
  color: #dddbd4;
  border-radius: var(--border-radius);
}

nav > a:hover {
  background: #282828;
}

nav > a.selected {
  color: var(--standard-bg);
  background: #FFB347;
}

@media screen and (max-width: 767px) {
  body {
    margin-top: 0;
  }

  nav {
    position: fixed;
    top: 0;

    justify-content: space-between;
    align-items: center;
    flex-direction: row;

    width: 100%;
    height: var(--mobile-menu-height);

    background: var(--standard-bg);
    border-bottom: 2px solid #FFB347;
  }

  #content {
    margin-top: var(--mobile-menu-height);
    border-radius: 0;
  }
}

/* columns */
.columns {
  display: flex;;
}

.columns > .column {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 25%;
  text-align: center;
}

.columns > .column:not(:last-child) {
  margin-right: var(--standard-size);
}

@media screen and (max-width: 767px) {
  .columns {
    flex-direction: column;
    width: 90%;
  }

  .columns > .column {
    width: 100%;
  }

  .columns > .column:not(:last-child) {
    margin-bottom: 0;
  }
}

/* box styling */
.box {
  background: var(--standard-bg);
  padding: var(--standard-size);
  margin: var(--standard-size) auto;
  min-height: 100px;
}

.box > .title {
  color: #FFB347;
  font-weight: bold;
  margin-bottom: var(--standard-size);
}

/* menu selector styling */
.menu > .column {
    background: var(--standard-bg);
    padding: var(--standard-size);
    margin: var(--standard-size) auto;
    max-height: 10px;
    border-radius: var(--border-radius);
  }

  .menu > .selected {
    background: #FFB347;
    color: var(--standard-bg);
    padding: var(--standard-size);
    margin: var(--standard-size) auto;
  }

  .menu > .column > a {
    text-decoration: none;
  }

  .menu > .selected > a {
    color: var(--standard-bg);
  }


/* explainer */
.explainer {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.explainer > .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.explainer > .info > h2 {
  text-align: center;
}

.explainer > .info > .tooltip {
  margin-left: auto;
  margin-right: auto;
  margin-top: var(--standard-size);
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: flex-center;
  background: var(--standard-bg);
  margin: var(--standard-size) auto;
  min-width: 300px;
}

.explainer > .card > img {
  max-width: 300px;
  aspect-ratio: auto;
}

.tooltip > img {
    height: 0;
    width: 0;
    visibility:hidden;
}

@media screen and (max-width: 767px) {
  .explainer {
    flex-direction: column;
  }

  .explainer > .info {
    order: 1;
    margin-bottom: 0;
  }

  .explainer > .card {
    order: 2;
    background: var(--standard-bg);
    width: 100%;
    margin-top: 0;
    padding-bottom: var(--standard-size);
  }

  .tooltip {
    width: 300px;
  }

  .tooltip > img {
    visibility:visible; 
    display:block;
    width: 100%;
    height: auto;
    margin:auto;
    padding-bottom: 15px;
  }
  .explainer > .card > img {
    visibility: hidden;
    width: 0;
    height: 0;
  }

}

.explainer > .card table {
  margin-bottom: var(--standard-size);
}

.explainer > .card td {
    border: 1px solid #FFB347;
    background: #dddbd4;
    color: var(--standard-bg);
    text-align: center;
}

.explainer > .card td.winner {
  font-weight: bold;
  color: black;
}

.explainer > .card th {
  color: var(--standard-bg);
  background: #FFB347;
  padding: 5px;
}

.explainer > .card thead th:first-child {
  background: var(--standard-bg);
}

.explainer > .card tr th:first-child {
    background: var(--standard-bg);
    color: #dddbd4;
    font-weight: normal;
}

.explainer > .card > .deck-explainer {
  width: 200px;
  margin-bottom: var(--standard-size);
  text-align: center;
}

.explainer > .card > .deck-explainer:not(:last-child) {
  border-bottom: 2px solid #FFB347;
  padding-bottom: var(--standard-size);
}

.explainer > .card > .deck-explainer > .icons {
  color: #FFB347;
  font-size: 150%;
}

.explainer > .card > .deck-explainer > .info {
  font-size: 125%;
}

dt {
  font-style: italic;
  font-weight: bold;
}

.tooltip {
    border: 1px solid #FFB347;
    font-weight: bold;
    padding: 3px;
    font-size: 80%;
    text-align: center;
    background: rgba(221, 219, 212, .6);
    color: var(--standard-bg);
    max-width: 400px;
}

a {
    color: #dddbd4;
}

.banlist {
    margin: 16px 5%;
}


.banlist dd{
    margin-bottom: 15px;
}

.banlist ul, li{
    margin: 8px;
}