@font-face {
  font-family: 'Anonymous Pro';
  src: url('./anonymouspro2/AnonymousPro-Regular.ttf') format('truetype');
}

html {
  --background: #333;
  --text: #ccc;
  --border-radius: 3px;
  --standard-spacing: 5px;
}

header {
  text-align: center;
  padding: var(--standard-spacing);
  font-family: "Anonymous Pro", serif;
  color: var(--text);
  font-size: 40pt;
}

.card.compatible img {
  max-width: 100%;
}

#content {
  padding: 11px;
}

body {
  margin: 15px;
  padding: var(--standard-spacing);
  font-family: "Anonymous Pro", serif;
  background: var(--background);
  color: var(--text);
  font-size: 14pt;
}

body>* {
  margin-bottom: var(--standard-spacing);
}

input,
textarea {
  background: var(--background);
  color: var(--text);
  border-style: solid;
  border-radius: var(--border-radius);
  padding: var(--standard-spacing);
}

input[type="text"],
textarea {
  width: 100%;
}

#card_type_select input {
  margin: 5px;
}

#sort_type_select input {
  margin: 5px;
}

#sort_direction_select input {
  margin: 5px;
}

#color_filter input {
  margin: 5px;
}

#affiliation_select input {
  margin: 5px;
}

input[type="button"] {
  cursor: pointer;
}

input[type="button"]:active {
  border-color: #008080;
}

li {
  list-style: none;
}

details>summary {
  list-style: none;
}

details>summary::-webkit-details-marker {
  display: none;
}

.rules {
  background: #444;
  color: var(--text);
}

.choice {
  border: 2px solid #666;
  border-radius: var(--border-radius);
  padding: var(--standard-spacing);
  margin-bottom: var(--standard-spacing);
  background: #444;
}

.formgroup.inline {
  width: 40%;
  display: flex;
}

.formgroup.inline *:not(:last-child) {
  margin-right: var(--standard-spacing);
}

.card {
  border: 2px solid #666;
  border-radius: var(--border-radius);
  padding: var(--standard-spacing);
  margin-bottom: var(--standard-spacing);
}

details,
summary {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.card.leader {
  background: #999;
  color: #000;
  font-weight: bold;
}

.card.compatible {
  min-height: 420px;
  background: #444;
  max-width: 250px;
  text-align: center
}

.card.valid {
  background: #444;
  text-align: center
}

.card.deckvalid {
  background: #228B22;
  text-align: center
}

.card.badaffiliation {
  background: #444;
  border: 2px solid #990000;
  text-align: center
}

.card.incompatible {
  background: #222;
}

.card.illegal {
  background: #181818;
}

.card.invalid {
  background: #000;
}

.card {
  font-size: 85%;
}

.card--name {
  margin-left: auto;
}

#leader_card {
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
}

.card--name a:link,
.card--name a:visited {
  text-decoration: underline;
}

.selected {
  border-color: #4493f8;
}